.content {
  background-color: #141414;
  width: calc(100vw - 200px);
}

.hoverable-card {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hoverable-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.album-head {
  height: 50vh;
  background-color: #171717;
  display: flex;
  align-items: flex-end;
  padding: 2.5%;
}

.album-cover {
  grid-area: img;
  object-fit: cover;
  height: 100%;
  margin-right: 2rem;
}

.album-info .title {
  font-size: 12vh;
}

.artists-name-album {
  font-size: 1rem;
  margin-top: 1rem;
}

.album-sub {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ant-avatar-group {
  max-width: fit-content;
  margin-right: 0.5rem;
}

.ant-layout-footer {
  height: 18vh;
}

.album-history {
  height: calc(85vh - 32px - 2rem);
}

.search-item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-left: 10px;
}

.search-item:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.meta {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  place-items: center;
}

.meta-i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RootContainer {
  padding: 5%;
}

.InnerGrid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Card Button {
  width: 100%;
}

.center-component-i {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-content: bottom;
  place-items: bottom;
}

.album-name-track-mobile {
  display: none;
}

.ant-layout-content {
  height: calc(100% - 12vh);
}

.album-history {
  height: calc(100% - 12vh - 72px);
}

.album-list {
  height: calc(92vh - 2rem - 72px);
}

@media screen and (max-width: 792px) {
  .content {
    width: 100vw;
  }
  .album-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2.5%;
  }
  .album-cover {
    object-fit: cover;
    width: 50vw;
    height: 50vw;
    margin: unset;
  }
  .album-info .title {
    font-size: 5vh;
    text-align: justify;
  }

  .ant-layout-footer {
    height: 25vh;
  }
  .footer-status {
    height: 15vh;
  }

  .ant-layout-content {
    height: 85vh;
  }

  .album-history {
    height: calc(100% - 18vh - 72px);
  }

  .album-name-track {
    display: none;
  }

  .album-list {
    height: calc(85vh - 2rem - 72px);
  }

  .album-name-track-mobile {
    display: block;
  }

  .RootContainer {
    padding: auto;
  }
  .Card {
    width: 100vw;
    height: 100vh;
  }
}
